@import url(https://at.alicdn.com/t/font_2626625_k4hb9d466s.css);
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-touxiang:before {
  content: "\e60f";
}

.icon-xingzhuanggongnengtubiao_huaban:before {
  content: "\e619";
}

.icon-fanhui:before {
  content: "\e605";
}

.icon-qianjin:before {
  content: "\e62d";
}

.icon-wangyiyunyinle-:before {
  content: "\e62c";
}
